<% provide(:title, 'Calendar')%>

<% if params[:create_event] %>
    <script>
      $(document).ready(function(){
        $('#create_event').modal("show");
      });
    </script>
<%end %>

<%= render 'create_event_modal'%>

<div id="calendar"></div>

