<% provide(:title, 'Calendar')%>

<% if params[:create_event] %>
    <script>
    //   $(document).ready(function(){
    //     $('#create_event').modal("show");
    //   });
    var event={id:1 , title: 'New event', start:  "Thu, 16 Oct 2020 00:00:00 UTC +00:00"};
    $('#calendar').fullCalendar( 'renderEvent', event, true);
    </script>
<%end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<%= render 'create_event_modal'%>

<div id="calendar"></div>
